<script lang="ts">
    import { Template } from 'svelte-native/components'
    import * as loginService from "../services/loginService";
    import * as userService from "../services/userService";
    import { AWebView } from '@nativescript-community/ui-webview';
    import { NativeElementNode } from 'svelte-native/dom';
    import { alert } from '@nativescript/core';

    let message: string = "teste - oi"
    let message2: string = "esperando..."
    let listUsers: Array<userService.User> = [];
    let myWebview: NativeElementNode<AWebView>;

    async function tryLogin() {
        const username = "qa@floripabit.com.br";
        const password = "Qafloripabit0*";
        const resp = await loginService.login(username, password);
        if (resp.name && resp.name !== "") {
            message = `Usuário encontrado: ${resp.name}`;
        }
    }

    async function getListUsers() {
        const resp = await userService.getListUsersWithNameUsername();
        if (resp.length < 1) {
            message2 = "Array vazio ou problema!"
        }
        message2 = "obtida a lista:";
        listUsers = resp;
    }

    async function loadedFunction(loaded) {
        console.log('webview Loaded');

        let myWebviewModule = myWebview.nativeElement;
        
        myWebviewModule.emitToWebView('test', JSON.stringify({
            oi: "oii from {N}"
        }));

        
        myWebviewModule.on('test2', (data) => {
            console.log(data.data);
            alert("looking2 from {N}: " + data.data);
        });

        console.log(await myWebviewModule.getTitle());
    }
</script>

<page>
    <actionBar title="Home" />
    <flexboxLayout flexDirection="column">
        <stackLayout>
            <label class="info">
                <formattedString>
                    <span class="fas" text="&#xf135;" />
                    <span text={JSON.stringify(message)}/>
                </formattedString>
            </label>
        </stackLayout>
        <stackLayout>
            <button text="Logar" on:tap={() => tryLogin()}></button>
        </stackLayout>
        <stackLayout>
            <button text="Pegar usuários" on:tap={() => getListUsers()}></button>
        </stackLayout>
        <stackLayout>
            <label class="info">
                <formattedString>
                    <span class="fas" text="&#xf135;" />
                    <span text={JSON.stringify(message2)}/>
                </formattedString>
            </label>
        </stackLayout>
        <listView items={listUsers} height=400>
            <Template let:item={user}>
                <label text={user.id} />
                <label text={user.name} />
                <label text={user.username} />
                <label text={user.email} />
            </Template>
        </listView>
        <stackLayout height={200}>
            <aWebView webConsoleEnabled={true} debugMode={true} height={200}
                bind:this={myWebview} on:loadFinished={(loaded) => loadedFunction(loaded)} src="~/assets/webview-component/index.html" emit></aWebView>
        </stackLayout>
    </flexboxLayout>
</page>

<style>
    .info .fas {
        color: #3A53FF;
    }

    .info {
        font-size: 20;
        horizontal-align: center;
        vertical-align: center;
    }
</style>
